<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.CourseInfoMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加课程信息记录 -->
	<insert id="addCourseInfo" parameterType="courseInfo">
		insert into t_courseInfo(courseNumber,courseName,courseTeacher,courseTime,coursePlace,courseScore,courseMemo) values 
		(#{courseNumber},#{courseName},#{courseTeacher.teacherNumber},#{courseTime},#{coursePlace},#{courseScore},#{courseMemo})
	</insert>

	<!-- 按照查询条件分页查询课程信息记录 -->
	<select id="queryCourseInfo" resultMap="courseInfoMap" >
		select t_courseInfo.* from t_courseInfo,t_teacher ${where} and t_courseInfo.courseTeacher = t_teacher.teacherNumber limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="courseInfoMap" type="courseInfo">
        <id property="courseNumber" column="courseNumber" />
        <association property="courseTeacher" column="courseTeacher" select="com.chengxusheji.mapper.TeacherMapper.getTeacher" />
    </resultMap>

    <!-- 按照查询条件查询所有课程信息记录 -->
	<select id="queryCourseInfoList" resultMap="courseInfoMap" >
		select t_courseInfo.* from t_courseInfo,t_teacher ${where} and t_courseInfo.courseTeacher = t_teacher.teacherNumber
	</select>

    <!-- 按照查询条件的课程信息记录数 -->
	<select id="queryCourseInfoCount" resultType="int">
		select count(*) from t_courseInfo,t_teacher ${where} and t_courseInfo.courseTeacher = t_teacher.teacherNumber
	</select>

	<!-- 根据主键查询某个课程信息记录 -->
	<select id="getCourseInfo" parameterType="string" resultMap="courseInfoMap">
		select * from t_courseInfo where t_courseInfo.courseNumber = #{courseNumber}
	</select>

	<!-- 更新课程信息记录 -->
	<update id="updateCourseInfo" parameterType="courseInfo">
		update t_courseInfo set courseName=#{courseName},courseTeacher=#{courseTeacher.teacherNumber},courseTime=#{courseTime},coursePlace=#{coursePlace},courseScore=#{courseScore},courseMemo=#{courseMemo} where courseNumber = #{courseNumber}
	</update>

	<!-- 删除课程信息记录 -->
	<delete id="deleteCourseInfo" parameterType="string">
		delete from t_courseInfo where courseNumber=#{courseNumber}
	</delete>

</mapper>
